html {
  margin:0;
  padding:0;
}

body {
  margin:0;
  padding:0;
}

header {
  background-color:#593196;
  margin:0;
  padding-top:0.02em;
}

header h4 {
  padding:0;
  margin:0;
}

nav {
  display: grid;
  grid-template-columns: 1.4fr 2fr 2fr;
  grid-column-gap: 1%;
  padding-bottom:0.3em;
}

ul {
  display:inline-block;
  text-align:center;
  margin-bottom:0.8em;
}

#right {
  text-align:right;
  padding-right:5%;
}

li {
  display:inline-block;
  padding-top:0.8em;
}

li a {
  text-decoration:none;
  margin-right:1em;
  padding:1em;
  color:#cbc8d0;
}

li a:hover {
  background-color:rgba(50,50,70,0.5);
  color:#fafafa;
  padding-top:1.9em;
  padding-bottom:1.9em;
}

main {
  background-color:green;
  background-color:;
  margin:auto;
  width:80%;
}

nav input[type=text] {
  padding-left:0.5em;
  padding:0.4em;
}

nav input[type=submit] {
  padding:0.5em;
  border:0px;
  background-color:white;
  color:rgb(50,15,50);
}
